@use "../../../styles/typography";
@use "../../../styles/mixins" as *;

.section {
    align-items: center;
    display: flex;
    
    & > p {
        white-space: nowrap;
        margin-right: 1.6rem;
    }
    &:not(:last-child) { margin-right: 6.4rem };
}

.dropdown {
    width: 20.8rem;
    height: 4rem;
    
    @include primereactCenter;
    
    &--small {
        width: 9.6rem;
    }
}

.viewButton {
    cursor: pointer;
    border: none;
    background-color: transparent;
}