.card {
    width: 32.8rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 2rem;
    cursor: pointer;
    
    border: 1px solid var(--color-grey-2);
    border-radius: .8rem;
    background-color: var(--color-white);
}

.image {
    height: 100%;
    width: auto;
    border-radius: .8rem;
}