@use "../../../styles/typography";

.header-bottom {
    height: 7.2rem;
    padding: 0 var(--left-right-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;

    &__logo { margin-right: 8rem; }

    &__buttons {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__button {

        &-inactive {
            @extend .label-default;
            text-decoration: none;
        }
        
        &-active {
            @extend .label-default;
            text-decoration: none;
            color: var(--color-primary-def) !important;
        }
    }
        

    &__button:not(:last-child) { margin-right: 3.2rem; } 
}

